<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cerkine.dam07_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/straw"
        android:label="@string/app_name"
        android:roundIcon="@drawable/straw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.cerkine.dam07_app.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.cerkine.dam07_app.LoginActivity" />
        <activity android:name="com.example.cerkine.dam07_app.PartidaActivity" />
        <activity
            android:name="com.example.cerkine.dam07_app.GeneralActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.cerkine.dam07_app.PartidaNuevaActivity"
            android:label="@string/title_activity_partida_nueva"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.cerkine.dam07_app.RegistarPjAcitivity" />
        <activity android:name="com.example.cerkine.dam07_app.ModificarStatActivity" />
        <activity
            android:name="com.example.cerkine.dam07_app.EnviarMensajeActivity"
            android:label="@string/mens_titulo"
            android:theme="@style/ConBarra" />
        <activity android:name="com.example.cerkine.dam07_app.VerMensajeActivity"></activity>
    </application>

</manifest>